#page-transition{

position:fixed;

top:0;

left:0;

width:100%;

height:100%;

z-index:999999;

pointer-events:none;

overflow:hidden;

visibility:hidden;

}

#transition-svg{

width:100%;

height:100%;

display:block;

}

.layer{

transform-origin:center;

}

.layer1{

fill:#05172e;

}

.layer2{

fill:#0b5ea8;

}

.layer3{

fill:#119FE0;

}

html{

background:#fff;

}

body{

background:#fff;

overflow-x:hidden;

}